<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Title!</title>
    </head>

    <body>
        {{> header}}
        <p>{{projectTitle}}</p>

        {{> footer}}
    </body>
</html>